{% extends "base.html" %}

{% block title %}
    Пароль изменён - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-dark text-white text-center py-3">
                    <h2 class="h4 mb-0">Пароль успешно изменён</h2>
                </div>
                <div class="card-body p-4 text-center">
                    <p class="fs-5">Ваш пароль был успешно изменён.</p>
                    <a href="{% url 'blog:index_page' %}" class="btn btn-dark mt-3">
                        Перейти в профиль
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
